* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-color: orange;
  --gap: 1rem;
  --radius: 0.5rem;
  --purple: #6839cc;
  --max-width: 450px;
}

body {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/bg-global.png");
}

main {
  overflow: hidden;
  max-width: var(--max-width);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: var(--gap);
}

.section {
  margin: var(--gap) 0;
}

.section:nth-child(1) {
  margin: 0;
}

.section-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
}

.section-title::after {
  content: "";
  height: 2px;
  width: 20px;
  background-color: var(--theme-color);
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
}

.slide-border {
  border: 2px dashed var(--theme-color);
}

/* Floating buttons */
.floating-btns {
  left: 0;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 50;
}

.floating-btns > .container {
  padding-top: 0;
}

.btns-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.floating-btn {
  border: 2px solid;
  border-color: #fff;
  color: #fff;
  padding: var(--gap);
  background-color: var(--theme-color);
  outline: 0;
  border-radius: var(--radius);
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

/* Inquiries */
.inquiry {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: relative;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 4);
}

.label {
  text-transform: capitalize;
}

.form-input {
  padding: var(--gap);
  border-radius: var(--radius);
  border: 1px solid var(--theme-color);
  outline: none;
  text-transform: capitalize;
  font-family: "Ubuntu Sans", sans-serif;
}

.inq-main {
  z-index: -100;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;

  max-width: var(--max-width);
}

.inq-main .section-title {
  color: #fff !important;
}

.inq-main.visible,
.share-modal.visible {
  z-index: 100;
  opacity: 1;
}

/* Share modal */

.share-modal {
  max-width: var(--max-width);
  opacity: 0;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  color: #fff !important;
}

.modal-content {
  background-color: #fff;
  border-radius: var(--radius);
  padding: var(--gap);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header span {
  text-transform: capitalize;
  color: #000;
}

.modal-close {
  height: 25px;
  width: 25px;
  object-fit: contain;
  cursor: pointer;
}

.qr-wrapper {
  margin: var(--gap) 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  padding: var(--gap);
}

.qr {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

/* profile section */

.cover-image-wrapper {
  height: 250px;
  background-color: lightcyan;
  position: relative;
}

.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-image-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 70%;
  height: 150px;
  width: 150px;
  padding: 0.2rem;
  border-radius: var(--radius);
  background-color: #fff;
}

.profile-image {
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  object-fit: cover;
}

.profile-info {
  background-image: url("./assets/profile-section-bg.png");
  background-size: cover;
  color: #fff;
}

.title-wrapper {
  padding: calc(var(--gap) * 2) 0;
  text-transform: capitalize;
  text-align: center;
  padding-top: calc(var(--gap) * 8);
}

.title {
  font-size: 1.8rem;
}

.bio {
  line-height: 1.3rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.socials {
  padding: calc(var(--gap) * 2) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.social-icon-wrapper {
  background-color: var(--purple) !important;
}

.social-icon {
  filter: invert(1);
}

.contact-card {
  margin: var(--gap) 0;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.contact-card address span {
  text-transform: capitalize;
}

/* services */
.services-bg {
  background-size: cover;
  background-image: url("./assets/services-bg.png");
}

.services-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.services-slide-icon {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.services-slide-title {
  text-transform: capitalize;
  font-size: 1rem;
}

.services-slide-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

/* Slider */
.slider {
  position: relative;
  padding-top: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.slides {
  display: flex;
  position: relative;
  top: 0;
}

.slides.shifting {
  transition: left 0.2s ease-out;
}

.slide {
  padding: 1rem;
  min-width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
}

/* Appointment */

.input {
  width: 100%;
  padding: var(--gap);
  border-radius: var(--radius);
  border: 1px solid var(--theme-color);
  outline: none;
  text-align: center;
}

.input::-webkit-datetime-edit-month-field,
.input::-webkit-datetime-edit-day-field,
.input::-webkit-datetime-edit-year-field {
  text-transform: uppercase;
}

.input-group-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
}

.label {
  text-transform: capitalize;
  color: #fff;
}

.time-group {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
}

.btn {
  text-transform: capitalize;
  font-size: 0.875rem;
  padding: var(--gap);
  border-radius: var(--radius);
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--purple);
  font-weight: 500;
}

/* Gallery */
.gallery-slide {
  height: 250px;
  width: 100%;
  padding: 0;
}

.gallery-slide-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* product */
.product-slide {
  padding: 0;
}

.product-slide-image {
  height: 220px;
  object-fit: cover;
}

.product-details {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 3);
}

.product-details h3 {
  text-transform: capitalize;
}

.product-details span {
  font-weight: 700;
  font: 1rem;
}

.product-details p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.icon-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.global-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.share-icon-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Nav */
.navigation {
  position: absolute;
  user-select: none;
  width: fit-content;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  gap: var(--gap);
  justify-content: center;
  z-index: 6;
}

.radios {
  display: flex;
  gap: var(--gap);
  position: absolute;
  bottom: 0.1rem;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  display: none;
}

.navigation label {
  border: 2px solid var(--theme-color);
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

#radio1:checked ~ .navigation .btn1 {
  background-color: var(--theme-color);
}

#radio2:checked ~ .navigation .btn2 {
  background-color: var(--theme-color);
}

#radio3:checked ~ .navigation .btn3 {
  background-color: var(--theme-color);
}

#radio4:checked ~ .navigation .btn4 {
  background-color: var(--theme-color);
}

/* testimonials */

.testi-section {
  position: relative;
}

.testi-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  border-image: fill 0 linear-gradient(#0003, #000);
}

.testimonial-slide-wrapper {
  padding: calc(var(--gap) * 2) var(--gap);
}

.testimonial-slide {
  background-color: var(--theme-dark);
  border: 1px solid var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  position: relative;
  overflow: visible;
}

.testimonial-image {
  height: 50px;
  width: 50px;
  border-radius: var(--radius);
  object-fit: cover;
  position: absolute;
  top: -15%;
  border: 1px solid var(--theme-color);
}

.testimonial-title {
  padding-top: var(--gap);
}

/* business days */
.business-days {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
  text-transform: capitalize;
}

.rads[data-active="true"] {
  background-color: var(--theme-color);
}

.rad[data-active="true"] {
  background-color: var(--theme-color);
}

.radb[data-active="true"] {
  background-color: var(--theme-color);
}
.radg[data-active="true"] {
  background-color: var(--theme-color);
}
.radp[data-active="true"] {
  background-color: var(--theme-color);
}

input[type="radio"] {
  display: none;
}

.blog {
  z-index: 5;
}
